*{padding: 0; margin: 0;} 


#logotruong{
	height: 20vw;
}

.header-logo{
	height: 20vw;
}
.header-info{
	background:#FACC2E ; 
	height: 20vw;
	text-align: center;
	color: black; 
	font-weight: bold; 
	font-size: 1.5vw; 
}
.student-info{
	background: #F6CED8;  
	height: 90px;  
	color: black; 
	font-weight: bold; 
	font-size: 20px; 
	text-align: center;
}
/* Định dạng thanh điều hướng trên cùng */
.menu {
	overflow: hidden;
	background-color: #A9A9F5;
}

/* Định dạng link điều hướng */
.menu a {
	float: left;
	display: block;
	color:#A9A9F5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
/* Thay đổi màu liên kết khi di chuột qua */
.menu a{
	background-color: #db7093;
	color: white;
	font-weight: bold
}
/* Tạo ba cột bằng nhau, float cạnh nhau */
.taocot {
	float: left;
	width: 32%;
	padding: 15px;
}
/* Clear float khác sau các cột */
.row: after {
	content: "";
	display: table;
	clear: both;
}

}